body {
    margin: 0;

    font-family: 'Poppins', sans-serif;
    <
}

h1 {
    font-size: 50 px;
}

.lol {
    color: brown;
}

.link {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;

    padding: 10px 30px;
    border: 5px;
    border-radius: 3px;

}

.flexible {
    display: flex;
}

.beibo {
    width: 50%;
    padding: 2%;
}

.beibo img {
    width: 90%;
}

.lala {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

footer {
    text-align: center;
}

.saka {
    text-align: center;


}

.pop {
    color: orange;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.teilo {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    box-shadow: 10px 10px 40px grey;

}

#baby {
    border-left: 5px solid blue;
}

#full-steck {
    border-left: 5px solid red;
}